:root{
    --gris: #dddddd;
}

html, body{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    font-family: "Cabin", sans-serif;
}

.nav-titulo{
    font-family: "Lobster", cursive;
    font-size: 39px;
}

.header-text h2, 
.header-text h5{
    text-align: left !important;
}

.header-text div h2 {
    padding-right: 160px;
    padding-top: 40px;
    font-size: xxx-large;
  }

.header-text div h5 {
    font-size: x-large;
}

.header-button{
    border: 1px solid var(--gris);
}