/* Globals */
:root{
    --gris: #dddddd;
}

html, body{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    font-family: "Cabin", sans-serif;
}

/* Navbar */
.nav-titulo{
    font-family: "Lobster", cursive;
    font-size: 39px;
}

/* Header */
.header-text h2, 
.header-text h5{
    text-align: left !important;
}

.header-text div h2 {
    padding-right: 160px;
    padding-top: 40px;
    font-size: xxx-large;
  }

.header-text div h5 {
    font-size: x-large;
}

.header-button{
    border: 1px solid var(--gris);
}

/* Carrousel */
.carousel-indicators{
    top: 103.5% !important
}

.carousel-indicators button{
    border-radius: 50% !important;
    height: 15px !important;
    width: 15px !important;
    background-color: #373A3C !important;
}

/* Recipe */
#recipe ul{
    padding-left: 0 !important;
}

#recipe ul li{
    text-decoration: none;
    list-style-type: none;
    list-style-position: inside;
    list-style: none;
}

/* Related */
.card{
    height: 420px;
}

.card-text{
    font-weight: 600;
}

/* Newsletter */
#newsletter{
    background-color: #DC3545;
}